.header {
  border-bottom: 1px solid #d3d1d1;
  background: #fff;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 25px;
  font-weight: 600;
  font-style: italic;
  color: #1976d2;
}

.nav {
  display: flex;
  align-items: center;
}

.link {
  position: relative;
  color: #4e4c4c;
  font-size: 18px;
  padding: 15px 20px;
  z-index: 1;
  transition: all 0.4s;

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    top: auto;
    left: 0;
    height: 0;
    width: 100%;
    background: #4e4c4c;
    z-index: -1;
    transition: all 0.3s;
  }

  &:hover {
    color: #fff;

    &::after {
      height: 100%;
    }
  }
}

.active {
  &::before {
    position: absolute;
    content: "";
    bottom: 0;
    height: 3px;
    width: 100%;
    left: 0;
    background: #4e4c4c;
  }
}
