.books {
  margin: 40px 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.header {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  color: #1976d2;
}
